.twitter-body {
    display: flex;
}

.twitter-bodies {
    margin: 5px 15px;
    border: 1px solid black;
    padding: 3px 5px;
}

.twitter-sidebar-content {
    margin: 5px 15px;
    border: 1px solid black;
    padding: 3px 5px;
}

.twitter-content-feeds-container img {
    width: 50px;
    background-color: black;
    border-radius: 50%;
}

.twitter-content-feeds-tweet {
    display: flex;
}

.twitter-feeds-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1px;
}
